.chat_main
  .header
    .main-header
      .main-header__title
        = @group.name
      %ul.main-header__members
        Member：
        - @group.users.each do |user|
          %span.member #{user.name}
    .sub-header
      .sub-header__button
        = link_to 'Edit', edit_group_path(@group), class: 'chat-header__edit-btn'
  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__message
        = f.label :image, class: 'form__message__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

