.chat_main
  .header
    .main-header
      .main-header__title
        グループ名
      %ul.main-header__members
        Member：
        %li.member
          メンバー名
        %li.member
          メンバー名
        %li.member
          メンバー名
    .sub-header
      .sub-header__button
        Edit
  .messages
    .message
      .upper-info
          test
        .upper-info__date
          test
      .message__text
        test
    .message
      .upper-info
        .upper-info__name
          test
        .upper-info__date
          test
      .message__text
        test

    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__message
        = f.label :image, class: 'form__message__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

      